body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: "Cascadia Code";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdm0qx8t0i9gc9.cloudfront.net%2Fthumbnails%2Fvideo%2FHGATaVJubj6casdeu%2Fvideoblocks-funny-brain-cartoon-talking-with-academic-symbols-high-definition-animation-colorful-scenes_hdvzqn3k7_thumbnail-1080_01.png&f=1&nofb=1");
  background: #7085ae;
  // background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) no-repeat center
  //   fixed;
  background-size: fill;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
